
body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0; color: var(--color-text); 
  background: linear-gradient(to bottom, rgb(240, 214, 232), rgb(255, 244, 253), rgb(247, 241, 246) ,rgb(248, 236, 244));
  /*background: #f8f8f8;*/
  color: #333;
}

.portfolio-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #444;
  margin-bottom: 15px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
  color: #cf054f;
  font-size: 25px;
}

h1{font-size: 38px;}

h4 {
  font-size: 20px;
}

.heading-2 {
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  margin-top: 25px;
}

.intro-text {
  font-style: italic;
  color: #ed7448;
  
}

.interests-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  list-style: none;
  padding: 0; 
}

.interests-list li {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3); 
  transition: transform 0.3s, box-shadow 0.3s, background 0.5s;
}

.interests-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
  color: #222;
}

.plan-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.plan-table th {
  background: #444;
  color: #fff;
}

.plan-table td, .plan-table th {
  text-align: center;
}

.plan-table td:hover {
  background: rgba(219, 214, 214, 0.538);
}

.contact-form {
  margin-top: 15px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field input, .form-field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.btn-submit {
  background: #444;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #222;
}

/* li {
      margin-bottom: 12px; 
      line-height: 1.6;    } */
