.greeting-container {
  text-align: center;
  margin-top: 80px;
  font-family: "Segoe UI", sans-serif;
}


.greeting-container input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
  font-size: 15px;
}

.greeting-container input:focus {
  border-color: #3b3a3a;
  outline: none;
}

.greeting-container button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #111;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.greeting-container button:hover {
  background-color: #4f4e4e;
}
